.navbar {
  overflow: hidden;
  background-color: #333333;
}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a.active {
  background-color: #4caf50;
  color: white;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #e8ebee;
}
h2 {
  color: #333333;
}
.main {
  padding: 20px;
}
/*ABOUT ME SECTION*/
.about-me {
  display: flex;
  padding: 20px;
}
.my-photo {
  max-height: 10em;
  border-radius: 5px;
}
.bio {
  padding-left: 20px;
}
/*RESUME SECTION*/
.resume {
  display: flex;
  margin: 0 auto;
  padding: 20px;
}
.resume-pic {
  max-height: 20em;
  border-radius: 5px;
}
.resume-heading {
  padding: 20px;
  border-radius: 5px;
}
/*FODD TRUCKS ONLY!*/
.food-truck {
  display: flex;
  padding: 20px;
}
.food-truck-heading {
  padding: 20px;
}
.food-truck-pic {
  max-height: 20em;
  border-radius: 5px;
}
/*OTHER PROJECTS*/
.other-projects {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.other-projects-heading {
  padding: 20px;
}
.pokemon-pic {
  border-radius: 5px;
  margin: 5px;
  max-height: 10em;
}
.puzzle-pic {
  max-height: 10em;
  margin: 5px;
  border-radius: 5px;
}
